<section class="portfolio section" id="portfolio">
  <h2 class="section__title">Portfolio</h2>
  <span class="section__subtitle">Most recent work</span>

  <div class="portfolio__container container">
    <!-- PROTFOLIO 1 -->
    <div class="portfolio__content grid">
      <div class="portfolio__card">
        <div class="portfolio__card-content">
          <div class="portfolio__image">
            <img src="../../img/portfolio1.jpg" alt="Laptop" />
          </div>
          <div class="portfolio__data">
            <h3 class="portfolio__title">Modern Websites</h3>
            <p class="portfolio__description">Get impressed!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
